/*the style sheet for main page*/

* {
  box-sizing: border-box;
}

.radio {
  text-align:  center;
}

body {
  color: black;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}



header{
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 40px !important; 
  font-weight: bold;
}

h2{
  font-size : 20px !important;
  text-align: center;
  font-weight: bold;
}

.row{
  margin-bottom: 15px; 
}


.outter_col >div {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  /*border: 1px solid black ;*/
  border-radius: 10px;
  height: 200px;
}


.row.inner_col > div
{

  padding:0px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #4aa9f7;
  /*#4aa9f7*/
}



.triangle {
  height: 0;
  width: 0;
  border-radius: 10px;
  border-left: 50px solid #28a8fc;
  border-right: 50px solid #28a8fc;
  border-bottom: 50px solid #0599fa;
  border-top: 50px solid #0599fa;
  position: absolute;
}
div.triangle:hover{
  opacity: 65%;
}
.teth{
  width: 100px;
  text-align: center;
  color: #aff;
  font-size: 14px;
}
/*t_1 is top one*/
.t_1{
  position : absolute;
  width: 40px;
  text-align: center;
  top :-40px ;
  left : -20px;
}
/*t_2 is right*/
.t_2{
  position : absolute;
  width: 40px;
  text-align: center;
  top : -12px ;
  left : 10px;
}
/*t_3 is bottom*/
.t_3{
  position : absolute;
  width: 40px;
  text-align: center;
  top : 20px ;
  left : -20px;
}
.t_4{
  position : absolute;
  width: 40px;
  text-align: center;
  top : -12px ;
  left : -50px;
}

body, html {
  height: 100%;
}
/*
body {
  padding: 0;
  background-color: #333;
}